@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-color: #ffffff;
  --primary-color: red;
}


/* Add this CSS */
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiperWrapper {
  overflow: hidden !important;
}

.custom-arrow-next {
  position: absolute;
  right: -1.5% !important;
  top: 35% !important;
  font-size: 40px !important;
  z-index: 1;
  background-color: rgb(31 41 55 / 0.3) !important;
  padding: 8px !important;
  border-radius: 50% !important;
  opacity: 0;
  transition: .5s;
  cursor: pointer;
}

.custom-arrow-prev{
  position: absolute;
  left: -1.5% !important;
  top: 35% !important;
  font-size: 35px !important;
  z-index: 1;
  background-color: rgb(31 41 55 / 0.3) !important;
  padding: 8px !important;
  border-radius: 50% !important;
  opacity: 0;
  transition: .5s;
  cursor: pointer;
}

.slick-slider:hover .custom-arrow-next, .slick-slider:hover .custom-arrow-prev {
  opacity: 1 !important;
  transition: .5s;
}

.owl-carousel .owl-nav button.owl-next{
  margin-right: 10px;
  margin-top: 12px;
}

/* For the vertical scrollbar */
::-webkit-scrollbar {
  width: 2px; /* Change this to reduce the width */
}

/* For the horizontal scrollbar */
::-webkit-scrollbar {
  height: 2px; /* Change this to reduce the height */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #e3e3e3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e2e2;
}

.bg-video{
  width: 100%;
  height: 45vh;
  background-position: center;
  background: linear-gradient(#0000009c, #0000009c), url('/images/get-hired-by-a-school.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:767px) {
  .swiper{
    height: 50vh !important;
  }
}

.react-quill .ql-editor{
  @apply !min-h-[500px] rounded-[10px]
}